.container {
  width: 11em;
  height: 11em;
  background-color: beige;

  vertical-align: middle;
  margin: 0 auto;
  text-align: center;
}

.BLUE {
  background-color: blue;
}

.RED {
  background-color: red;
}
