.container {
  width: 11em;
  height: 11em;
  background-color: beige;

  vertical-align: middle;
  margin: 0 auto;
  text-align: center;
}

.BLUE {
  background-color: rgba(0, 116, 179, 0.2);
}

.RED {
  background-color: rgba(179, 0, 0, 0.2);
}
